<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72809067571-pt0i32au4nmt199m7r9ret8ou8lqkooo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72809067571-pt0i32au4nmt199m7r9ret8ou8lqkooo</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Yh4IXH0hz0hZQ6mhMhNDZ87YnvPFTks</string>
	<key>GCM_SENDER_ID</key>
	<string>72809067571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alisengur.OmdbiOSCase</string>
	<key>PROJECT_ID</key>
	<string>omdbioscase-188da</string>
	<key>STORAGE_BUCKET</key>
	<string>omdbioscase-188da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72809067571:ios:6dc0e16bb9721948001f46</string>
</dict>
</plist>